*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
    background: gainsboro;
}
#top{
    width: 100%;
    background: white;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.top_li{
    margin-left: 50px;
    text-align: center;
    line-height: 50px;
}
.check{
    border-bottom:skyblue 2px solid;
}
#left{
    margin-left: 20px;
    padding: 10px;
    width:15%;
    height:300px;
    background: white;
    font-size: 20px;
}
.out{
    margin-top: 20px;
}
#nick_{
    margin-top: 10px;
    font-size: 18px;
}
#right{
    margin-left: 50px;
    width: 60%;
    height: 100%;
}
.article_li{
    padding: 15px;
    margin-bottom: 20px;
    background: white;
}

.article_title{
    text-align: center;
}
.huida{
    color: grey;
    font-size: 20px;
    font-weight: bolder;
}
.article_c1{
    font-size: 15px;
    margin: 20px 0;
}
.article_c2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.acticle_d{
    display: flex;
    justify-content:space-between;
    font-size: 10px;
    color: grey;
    align-items: center;
}

.acticle_t,.acticle_u{
    margin-right: 20px;
}
#content_add{
    margin-top: 50px;
}
#add_class{
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
.class{
    padding: 5px;
    background: white;
    margin-right: 10px;
}
.catch{
    border: #00B7FF 1px solid;
}
#title{
    border: none;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 20px);
    height: 10px;
    margin-bottom: 5px;
}
#content_f{
    position: relative;
}
#content{
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 16px;
    height: 100px;
    resize: none; //禁止拖动

}
#tips{
    position: absolute;
    left: 10px;
    top: 9px;
    color: grey;
}

.btn{
    background: #00B7FF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}
button{
    border: none;
}